.courses-listing-nav-links {
  text-align: right;
}

.courses-listing-nav-links .divider {
  margin: 0 3px;
}

.courses-listing-nav-links a.active {
  color: black;
}

#user-register-form .form-item-name, #user-form .form-item-name {
  display: none;
}

.field--name-field-course-features #edit-field-course-features .form-type-checkbox {
  float: left;
  width: 33.3%;
}

.field--name-field-course-features #edit-field-course-features .form-type-checkbox input {
  float: left;
  width: 13px;
  margin-right: 5px;
}

.field--name-field-course-features #edit-field-course-features .form-type-checkbox label {
  float: left;
  width: calc(100% - 29px);
  /* padding-left: 5px; */
  margin-top: -2px;
  margin-right: 10px;
}

.field--name-field-course-features #edit-field-course-features .form-type-checkbox:nth-child(3n+1) {
  clear: both;
}

.node-form .field--name-field-course-times-of-day {
  display: none;
}

.view-manage-courses .view-header {
  margin-top: 20px;
}

/*.path-node #block-seven-breadcrumbs {
  display: none;
}*/