


.toolbar-tab .toolbar-item#toolbar-item-administration {
	display: none;
}

.courses-listing-nav-links {
  text-align: right;
}

.courses-listing-nav-links .divider {
  margin: 0 3px;
}

.courses-listing-nav-links a.active {
  color: black;
}

#user-register-form .form-item-name, #user-form .form-item-name {
  display: none;
}

.field--name-field-course-features #edit-field-course-features .form-type-checkbox {
  float: left;
  width: 33.3%;
}

.field--name-field-course-features #edit-field-course-features .form-type-checkbox input {
  float: left;
  width: 13px;
  margin-right: 5px;
}

.field--name-field-course-features #edit-field-course-features .form-type-checkbox label {
  float: left;
  width: calc(100% - 29px);
  /* padding-left: 5px; */
  margin-top: -2px;
  margin-right: 10px;
}

.field--name-field-course-features #edit-field-course-features .form-type-checkbox:nth-child(3n+1) {
  clear: both;
}

.node-form .field--name-field-course-times-of-day {
  display: none;
}

.node-form .layout-region-node-secondary .entity-meta {
  margin-top: 1em;
}

.role-course_editor .node-form .layout-region-node-secondary .entity-meta .scheduler-form {
  border-radius: 3px;
  border-top: 1px solid #bfbfbf;
}

.role-course_editor .node-form .layout-region-node-secondary .entity-meta .path-form {
  display: none;
}

.view-manage-courses .view-header {
  margin-top: 20px;
}

.view-manage-courses .view-header .results-count {
  margin: 30px 0 20px;
  font-size: 14px;
}

.view-manage-courses .view-header p {
  margin: 30px 0 20px;
  font-size: 14px;
}

.view-manage-courses .view-filters .form-item-f-code,
.view-manage-courses .view-filters .form-item--f-code {
	width: 140px;
}

.view-manage-courses .view-filters .form-item-status-1,
.view-manage-courses .view-filters .form-item--status-1 {
	width: 165px;
}

.view-manage-courses .view-filters .form-item-title,
.view-manage-courses .view-filters .form-item--title {
	width: 240px;
}

.view-manage-courses .view-filters .form-item-field-course-organization-target-id,
.view-manage-courses .view-filters .form-item--field-course-organization-target-id {
	width: 250px;
}






#views-exposed-form-manage-courses-page-2 .form-item-end-date-value-1-max label {
  display: none;
}

#views-exposed-form-manage-courses-page-2 .form-item-end-date-value-1-max {
  margin-top: 31px;
}

#views-exposed-form-manage-courses-page-2 .form-item-end-date-value-1-min:after {
  content: '-';
  margin-left: 3px;
}

/*.path-node #block-seven-breadcrumbs {
  display: none;
}*/