/**
 * Grid variables
 */
$grids:   12;

$breakpoint_small:   new-breakpoint(min-width $drupal_breakpoint_small_width $grids);
$breakpoint_medium:  new-breakpoint(min-width $drupal_breakpoint_medium_width $grids);
$breakpoint_large:   new-breakpoint(min-width $drupal_breakpoint_large_width $grids);
$breakpoint_xlarge:  new-breakpoint(min-width $drupal_breakpoint_xlarge_width $grids);

$breakpoint_small_only:   new-breakpoint(max-width $drupal_breakpoint_medium_width min-width $drupal_breakpoint_small_width $grids);
$breakpoint_medium_only:  new-breakpoint(max-width $drupal_breakpoint_large_width min-width $drupal_breakpoint_medium_width $grids);
$breakpoint_large_only:   new-breakpoint(max-width $drupal_breakpoint_xlarge_width min-width $drupal_breakpoint_large_width $grids);

$breakpoint_small_padding:   15px;
$breakpoint_medium_padding:  15px;
$breakpoint_large_padding:   15px;
$breakpoint_xlarge_padding:  15px;