@import "abstractions/_mixins";

/**
 * Shared styles.
 *
 */


/**
 * Body styles as a mixin, so we
 * can include these in ie. ckeditor.
 */
@mixin shared-node-body-styles() {
  
  p {
    padding: 20px 0 40px 0;
  }
  p:last-of-type {
    padding-bottom: 0;
  }

  a {
    @include shared-link-styles;
  }

  figure {

  }

  figcaption {

  }

  h2 {

  }

  h3 {

  }

  h4 {

  }

  strong {
    font-weight: bold;
  }

  .highlight {

  }

}


/**
 * Link styles
 */
@mixin shared-link-styles() {

  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }


}

/**
 * List styles
 */
@mixin shared-ul-styles() {


}
@mixin shared-ol-styles() {

}

/**
 * Tables
 */
@mixin shared-unformatted-table-styles() {
  
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;

  tr {
    border-bottom: none;
    background:none;
  }

  th, td {
    text-align: left;
    background:none;
    border:none;
    padding: 5px 9px;
    font-size: 12px;
    min-height: 26px;
  }
}


@mixin shared-formatted-table-styles() {

  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
  
  tr {
    background: $table_even;
    
    &.odd,
    &:nth-child(2n+2) {
      background: $table_odd;
    }
  }

  th, td {
    padding: 5px 9px;
  }

}